<!DOCTYPE html>
<html>
  <head>
    <title>Pending Branch Automation Status</title>
    <!--<meta http-equiv="pragma" content="no-cache" />-->
    <% include ./partials/head.ejs %>
    <style>
    </style>
    <script src="/js/head.js"></script>
    <script>
      function goBackPage() {
        window.location.href("http://beta21.websitetoolbox.com:8081/pendingBranches");
      }
    </script>
  </head>
  <body>
    <div><a href="" style="float: right;padding: 20px;" onclick="goBackPage()"><button type="button" class="btn btn-sky">Back</button></a></div>
    <div style="text-align: center; padding-top: 92px;" class="pending_Automation_Status">Automation execution completed. Please check your mail </div>
  </body>
</html>
