<!DOCTYPE html>
<html>
	<head>
		<title>Review Status</title>
		<% include ./partials/head.ejs %>
		<script>
			function goBack() {
				window.history.back();
			}
		</script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<% if(error) { %>
						<h4><%= error %></h4>
						<a href="" style="float: right; margin-top: -18px;" onclick="goBack()"><button type="button" class="btn btn-sky">Back</button></a>
					<% } %>
			    		<% if (pullRequestReviews.length > 0) { %>
						<h2>Review Status</h2>
						<a href="" style="float: right; margin-top: -41px;" onclick="goBack()"><button type="button" class="btn btn-sky">Back</button></a>
			    			<div class="table-responsive">
				      			<table id="branchStats" class="table table-bordred table-striped">
								<thead>
									<th>Name</th>
									<th>Status</th>
								</thead>
			    					<tbody>
			    						<% pullRequestReviews.forEach(function(reviewer) { %>
			    							<tr>
				    							<td><%= reviewer.name %></td>
				    							<td><%= reviewer.state %></td>
				    						</tr>
			    						<% }) %>
								</tbody>

							</table>
				    		</div>
			    		<% } else { %>
			    			<h2>Review Status</h2>
			    			<a href="" style="float: right; margin-top: -18px;" onclick="goBack()"><button type="button" class="btn btn-sky">Back</button></a>
			    			<div class="table-responsive">
				      			<table id="branchStats" class="table table-bordred table-striped">
								<thead>
									<th>Status</th>
								</thead>
			    					<tbody>
		    							<tr>
			    							<td>There is no reviewer for this pull request</td>
			    						</tr>
								</tbody>

							</table>
				    		</div>
			    		<% } %>
				</div>
			</div>
		</div>
	</body>
</html>
