<!DOCTYPE html>
<html>
	<head>
		<title>Pending Branch Automation Status</title>
		<% include ./partials/head.ejs %>
		<style>
		</style>
		<script src="/js/head.js"></script>
	</head>
	<body>
    <div class="token" id="<%= token %>">Token</div>
	</body>
</html>
